html, body {
	height: 100%;
	margin: 0;
}

#app {
	font-family: 'Roboto', Arial, sans-serif;
	color: #353C4E;
	background: #F0F2F4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-size: 1.2rem;
}

#main {
	width: 500px;
	margin: 0 auto;
}

#header {
	background: white;
	padding: 1rem 1rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#header > div > img {
	height: 1.75rem;
}

#header > div > span {
	vertical-align: super;
}

.card {
	border: black 1px solid;
	border-radius: 5px;
	margin: 10px;
	width: 500px;
}

.details-wrapper {
	display: flex;
}

.name-container {
	padding: 10px;
}

.name {
	font-weight: bold;
}

.username {
	color: grey;
	font-size: 1rem;
}

.address-container {
	border-top: black 1px solid;
	border-right: black 1px solid;
	width: 50%;
	padding: 10px;
	font-size: 1rem;
}

.contact-container {
	border-top: black 1px solid;
	padding: 10px;
	font-size: 1rem;
}

.company {
	font-weight: bold;
}

#button-container {
	float: right;
}

button {
	border-radius: 10px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

#content > img {
	height: 45vh;
}

#content > p {
	font-size: 2rem;
}

#footer {
	margin-bottom: 10vh;
	text-align: center;
}
